[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "clojure-snippets"]
	path = clojure-snippets
	url = https://github.com/swannodette/clojure-snippets.git
[submodule "rust-snippets"]
	path = rust-snippets
	url = https://github.com/darinmorrison/rust-snippets.git
